In [14]:
import numpy as np
import pandas as pd

In [17]:
df = pd.read_csv(r'C:\Users\DELL\Downloads\ai_nov21-main\ai_nov21\Chapter 2\04. PCA and LDA\data\titanic_kernel.csv')
df.head()

,Unnamed: 0,Sex,Singleton,SmallFamily,MediumFamily,Embarked_0,Embarked_1,Pclass_1,Pclass_2,Age-bin_0.0,...,Title_2,Title_3,Title_4,Ticket_0,Ticket_1,Ticket_2,Ticket_3,Ticket_4,Ticket_5,Survived
0,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,1,1,0,1,0,1,0,1,0,0,...,1,0,0,0,0,0,0,0,1,1
2,2,1,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
3,3,1,0,1,0,0,0,1,0,0,...,1,0,0,1,0,0,0,0,0,1
4,4,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [18]:
x = df[['SmallFamily','MediumFamily']]
y = df['Survived']

In [ ]:
def sigmoid(input):    
    output = 1 / (1 + np.exp(-input))
    return output

In [21]:
def optimize(x, y,learning_rate,iterations,parameters): 
    size = x.shape[0]
    weight = parameters["weight"] 
    bias = parameters["bias"]
    for i in range(iterations): 
        sigma = sigmoid(np.dot(x, weight) + bias)
        loss = -1/size * np.sum(y * np.log(sigma)) + (1 - y) * np.log(1-sigma)
        dW = 1/size * np.dot(x.T, (sigma - y))
        db = 1/size * np.sum(sigma - y)
        weight -= learning_rate * dW
        bias -= learning_rate * db 
    
    parameters["weight"] = weight
    parameters["bias"] = bias
    return parameters

In [22]:
init_parameters = {} 
init_parameters["weight"] = np.zeros(x.shape[1])
init_parameters["bias"] = 0

In [26]:
def train(x, y, learning_rate,iterations):
    parameters_out = optimize(x, y, learning_rate, iterations ,init_parameters)
    return parameters_out

train

In [25]:
parameters_out = train(x, y, learning_rate = 0.02, iterations = 500)
parameters_out

{'weight': array([0.53796113, 0.18694735]), 'bias': -0.6176349788349643}